services:
  - name: lms-api
    type: web
    plan: free
    runtime: image
    image:
      url: docker.io/trandokhanhminh/lms-backend:latest
    numInstances: 1
    envVars:
      - key: PORT
        value: 5000
      - key: REDIS_URL
        fromDatabase:
          name: lms-redis
          property: connectionString

databases:
  - name: lms-redis
    plan: free
    redisVersion: 7
    ipAllowList: []
