services:
  - type: image
    name: lms-api
    plan: free
    image:
      url: docker.io/trandokhanhminh/lms-backend:latest
    numInstances: 1
    envVars:
      - key: PORT
        value: 5000
      - key: REDIS_URL
        fromDatabase:
          name: lms-redis
          property: connectionString
      # Các env khác bổ sung thủ công trong dashboard:
      # LIVEKIT_URL
      # LIVEKIT_API_KEY
      # LIVEKIT_API_SECRET
      # CLIENT_URL

databases:
  - name: lms-redis
    plan: free
    ipAllowList: []
    redisVersion: 7
