@tailwind base;
@tailwind components;
@tailwind utilities;


body.loading::before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 9998;
}

body.loading::after {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    border: 5px solid #3b82f6;
    border-bottom-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rotation 1s linear infinite;
    z-index: 9999;
}

@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}